.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: rgba(128, 128, 128, 0.671);
    border-color: #fff;
  }
  .page-item .page-link {
    color: rgba(128, 128, 128, 0.671);
    background-color: rgba(128, 128, 128, 0.199);
    border-color: #fff;
    font-weight: bold;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #4c8eafb3;
    border-color: #4c8eaf;
  }
  
  .btn-primary:focus {
    color: #fff;
    background-color: #4c8eafb3;
    border-color: #4c8eaf;
  }
  
  .btn-primary {
    padding: 0px 40px;
    color: #fff;
    background-color: #4c8eaf;
    border-color: #4c8eaf;
  }
  .img-thumbnail {
    padding: 0 !important;
  }
  
  
  /* Global */
  
  section#posts h4, aside h4, section#sponsors h4 {
    font-weight: 400;
  }
  
  .fs-small {
    font-size: small !important;
  }
  .fs-xsmall {
    font-size: x-small !important;
  }
  .text-white-smoke {
    color: #c5c5c5;
  }
  .w-30 {
    width: 29% !important;
  }
  .bg-gradian {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 20%,
      rgba(215, 211, 211, 1) 100%
    );
  }
  .bg-trans {
    background-color: transparent !important;
  }
  .b-none {
    border: none !important;
  }
  .dec-none {
    text-decoration: none;
  }
  .circle-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: solid;
    background-color: rgb(49 49 51);
    margin: 2px;
    cursor: pointer;
  }
  .circle-icon i {
    font-size: 26px;
    color: rgb(186 184 182);
  }
  .circle-icon:hover i {color:white}
  .do-border {
    border: solid 10px #ededed !important;
    border-radius: 0;
  }
  
  /* Layouts */
  
  body {
    background-color: #012f5a;
  }
  
  div.wrapper {
    max-width: 960px !important;
    width: 960px;
    box-shadow: 0px -81px 282px -93px white;
    margin: 0 auto;
  }
  
  /* Header */
  header nav img {
    width: 100%;
  }
  
  header .back-bar-container {
    width: 960px;
    height: 151px;
  }
  
  header img[alt="logo"] {
    width: 399px;
    height: 58px;
  }
  header input[type="search"] {
    width: 125px;
    height: 19px;
    box-shadow: inset 1px 2px 5px rgba;
    margin-bottom: 16px;
    margin-top: 5px;
    border-radius: 10px;
  }
  header nav a {
    transition: all 3s;
    border-bottom: 0.5px transparent solid;
  }
  header nav a:hover {
    border-bottom: 0.5px white solid;
  }
  header form .input-group-text ,input[type="search"]{
    height: 24px!important;
  }
  header form .input-group-text{
    border-radius: 16px 0px 0px 16px;
  }
  header .slide img{
    width:100%;
    display:block;
  }
  
  /* Posts */
  
  section#posts h6 {
    color: #4c8eaf;
  }
  section#posts article{
    align-items:flex-start;
  }
  
  
  /* Sponsors */
  section#sponsors article {
    width: 140px;
    padding: 10px;
  }
  
  section#sponsors article img {
    height: 70px;
    width: 90px;
  }
  
  
  /* Footer */
  .gallery {
    margin-left: -7px;
  }
  .galery-border {
    border: solid #282828;
  }
  
  
  /* Aside */
  
  aside a {
    color: #4c8eafbe;
    font-weight: bold;
  }
  
  
  @media (min-width:1197px){
    aside > div{
      display:block;
    }
    
  }
  /* Responsive */
  @media (min-width: 768px) and (max-width: 1197px) {
  
    body{
      background-color:white;
    }
    header {
      text-align: center;
    }
    header img[alt="logo"] {
      margin: 15px;
    }
  
    header .search-container {
      align-items: center;
    }
    header .search-container form {
      width: 50%;
    }
    header form input[type="search"] {
      zoom: 1.2;
      padding: 10px;
      width: 100%;
    }
    header form .input-group-text{
      padding:10px;
      zoom:1.2;
    }
  
    header .nav-link {
      font-size: 1em !important;
    }
    header nav a {
      font-size: 18px !important;
    }
    
    header {
      zoom: 1.3;
    }
  
    header .banner {
      flex-direction: column-reverse;
      zoom:.9;
    }
    
    aside > .aside-content{
      display:flex;
      flex-direction: row-reverse;
      width:fit-content;
      margin:0 auto;
    }
    aside article {
      width:30%;
    }
    p{font-size:1.1em!important}
  
    .fs-xsmall {
      font-size: 1em !important;
    }
    aside ul li a {font-weight: normal!important;}
    
  }
  
  @media (min-width: 370px) and (max-width: 765px) {
    body {
      background-color: white;
    }
    .logo-container {
      width: 100%;
      text-align: center;
    }
  
    section#posts article {
      flex-direction: column;
      text-align: center;
    }
    section#posts article img {
      width: fit-content;
      margin: 0 auto;
    }
    section#posts article h4 {
      margin: 5px;
      margin-bottom: 12px;
    }
  
    section#sponsors article {
      width: 47%;
      padding: 10px;
    }
  
    section#sponsors article img {
      height: 220px;
      width: 200px;
    }
    section#posts article img {
      width: 60%;
    }
    section#posts article h4,
    aside h4,
    section#sponsors h4,
    footer h4 {
      font-size: 3em;
    }
    section#posts article p,
    aside p,
    footer p {
      font-size: 2em;
      padding: 1%;
    }
    section#posts article h6,
    aside h6 {
      font-size: 1.5em;
    }
  
    section#posts button {
      padding: 10px 50px;
      font-size: 2em;
    }
    .pagination {
      zoom: 1.6;
      justify-content: center;
      margin: 7px;
    }
   
    header {
      text-align: center;
    }
    header img[alt="logo"] {
      margin: 15px;
    }
  
    header .search-container {
      align-items: center;
    }
    header .search-container form {
      width: 50%;
    }
    header form input[type="search"] {
      zoom: 1.3;
      padding: 15px;
      width: 100%;
    }
    header form .input-group-text{
      padding:15px;
      zoom:1.3;
    }
    header .nav-link {
      font-size: 1.3em !important;
    }
    header nav a {
      font-size: 20px !important;
    }
    header {
      zoom: 1.7;
    }
    header .banner {
      flex-direction: column-reverse;
      zoom:.9;
    }
    
    aside {
      text-align: center;
    }
    aside a {
      font-size: 2em;
    }
    aside p {
      margin: 10px auto 20px auto;
      width: 80%;
    }
    aside li a {
      font-size: 2.5em !important;
      font-weight: normal;
    }
    .back-bar-container, #carouselExampleSlidesOnly {
      display: none;
    }
   
    footer ul li {
      font-size: 1.5em;
    }
  
    footer {
      text-align: center;
    }
    footer div:last-child {
      padding: 0 !important;
    }
    footer .gallery {
      display: block !important;
    }
    footer .social-media {
      width: fit-content;
      margin: 0 auto;
    }
    footer .gallery img {
      width: 23% !important;
      height: 170px;
      border: solid white;
      margin: 10px !important;
    }
  }